@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
:root {
  --main-color: #ffd341;
}
.act,
.navbar ul li a:hover {
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}


/* svg.wave {
  position: absolute;
  bottom: -70px;
} */
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.middle h1 {
  font-size: 60px;
}
.title-container{
    z-index: 7;
}

.hero-title
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #f80697 0%,
    #44107a 29%,
    #ff1361 67%,
    #0040ff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.mental-image {
    z-index: 1;
}

/* Wave CSS */
.custom-shape-divider-bottom-1673319403 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.custom-shape-divider-bottom-1673319403 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 211px;
    z-index: 0;
}

.custom-shape-divider-bottom-1673319403 .shape-fill {
    fill: #ffffff;
    z-index: 0;
}

/* Login Page CSS */
.login-page {
    margin-top: 150px !important;
}

.card-container {
    background-color: rgb(255, 254, 254, 0.8) !important;
    z-index: 7;
}


/* Register Page CSS */

.register-page {
    margin-top: 150px !important;
    z-index: 7;
}

.card-container {
    background-color: rgb(255, 254, 254, 0.8) !important;
    z-index: 7;
}


/* Dashboard */
.dashboard-page {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 7;
    /* margin-top: 100px !important; */
}
.alert-css {
    margin-top: 20px;
}

.card-container{
    width: 100%;
    height: auto;
    z-index: 7;
}

.card-css {
    transition: 0.98s;
    z-index: 7;
}

.card-css:hover{
    background-color: #E4A11B;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    z-index: 7;
}

.dashboard-link:hover{
  color: white;
}

.dashboard-link2{
  display: none;
}

@media only screen and (max-width: 1200px){
  .dashboard-link2{
    display: block;
  }
  .dashboard-link{
    display: none;
  }
  .dashboard-link2:hover{
    color: white;
  }
}

/* About Page CSS */


/* Messenger */
.messenger {
    margin-top: 20px;
}
